<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MDF</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/produtos']">Produtos</a></li>
        <li class="dropdown" app-dropdown>
          <a [routerLink]="['/carrinho']" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Carrinho<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li *ngIf="itensCarrinho.length == 0" style="text-align: center">Sem itens</li>
           <div *ngFor="let item of itensCarrinho">
             <li style="text-align: center">{{item.produto.nome}} : {{item.quantidade}}un</li>
             <li style="text-align: center">R$: {{item.produto.preco}}</li>
             <a style="cursor: pointer">Remover</a>
             <li role="separator" class="divider"></li>
           </div>
          </ul>
        </li>
        <li><a href="#">Quem Somos</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" app-dropdown *ngIf="!isAuth()">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <div class="form-group" style="margin: 5px; text-align: center">
                <input type="text" class="form-control" placeholder="Usuario" style="margin-bottom: 5px" #email>
                <input type="text" class="form-control" placeholder="Senha" style="margin-bottom: 5px" #senha>
                <button type="submit" class="btn btn-default" style="margin-bottom: 5px" (click)="onLogin(email.value, senha.value)">Entrar</button>
                <br>
                <button type="button" class="btn btn-info" (click)="onCadastrar()">Cadastro</button>
              </div>
            </li>
          </ul>
        </li>
        <li *ngIf="isAuth()" style="cursor: pointer" (click)="doLogout()"><a>Sair</a></li>
        <li *ngIf="isAdmin()" style="cursor: pointer" [routerLink]="['/editor']"><a>Editar</a></li>
        <li type="button" ><a (click)="doUpdate()">atualizar</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
