<h1>O que tem no meu carrinho?</h1>
<hr>
<table class="table table-hover">
  <tr *ngFor="let item of listaCompras; let indice = index">
    <td style="width: 150px"><img [src]="item.produto.imagens[0]" class="image-size"></td>
    <td style="text-align: left; width: 250px; vertical-align: middle">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Quantidade</span>
        <input type="number"
               class="form-control"
               aria-describedby="basic-addon1"
               step="1"
               min="0" [value]="item.quantidade" [(ngModel)]="listaCompras[indice].quantidade">
      </div>
    </td>
    <td style="vertical-align: middle; text-align: left">
      <button type="button" class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </button>
    </td>
    <td style="vertical-align: middle; text-align: right"><h3>Valor: {{item.produto.preco}}</h3></td>
  </tr>
</table>


